# --- notification-service-dev.yml (in your Git config-repo) ---
server:
  port:8082
spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update 
    show-sql: true


rabbitmq:
  host: ${RABBITMQ_HOST}
  port: ${RABBITMQ_PORT}
  username: ${RABBITMQ_USERNAME}
  password: ${RABBITMQ_PASSWORD}
  # Additional settings for the Notification Service (e.g., queue/exchange names)
  notification-exchange: notification-events-exchange
  contribution-queue: github-contribution-queue

# Example of a custom property
service:
  message: "Notification Service is running in ${spring.profiles.active} mode."
