spring:
  application:
    name: notification-service   # must match the filename in config-repo
  config:
    import: optional:configserver:http://localhost:8888

# Local fallback if config-server unreachable
server:
  port: 8083



  datasource:
    url: jdbc:postgresql://${NOTIF_DB_HOST:localhost}:${NOTIF_DB_PORT:5432}/${NOTIF_DB_NAME:notification_db}
    username: ${NOTIF_DB_USER:postgresqluser}
    password: ${NOTIF_DB_PASS:postgresqluserpwd}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: false



management:
  endpoints:
    web:
      exposure:
        include: health,info
